@font-face {
    font-family: "JetBrains Semi";
    src: url("/assets/fonts/JetBrainsMono-SemiBold.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Bold";
    src: url("/assets/fonts/JetBrainsMono-Bold.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* --- Main Colors --- */
    --primary-color: rgba(74, 95, 250, 0.8);
    --secondary-color: rgba(44, 70, 153, 0.8);

    --banner-color: #2c3398;

    --bg-clr: whitesmoke;

    /* --- Text Colors --- */
    --text-color: #000;
    --hyperlink-color: #72b8fe;

    /* --- Aesthetic Colors --- */
    --box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

    /* --- Effect Colors --- */
    --svg-fill: #121417;
    --border-color: rgba(114, 184, 254, 0.8);
    --bg-dots: #d3d3d3;
    --effct-bg: transparent;
    --status-ok-bg: #77dd77;
    --status-warn-bg: #fdfd96;
    --status-err-bg: lightcoral;

    /* --- Sizing --- */
    --prgph-size: 1.5rem;
    --bnnr-size: 2.5rem;
    --small-size: 0.9rem;
    --subtle-size: 1.25rem;

    /* --- Interaction --- */
    --mouse-angle: 90deg;
    --tilt-x: 0deg;
    --tilt-y: 0deg;
    --trans-delay: 0ms;

    @media only screen and (prefers-color-scheme: dark) {
        --text-color: #fff;
        --bg-clr: #121417;
        --box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
        --svg-fill: whitesmoke;
        --bg-dots: #4c4e52;
    }

    @media (prefers-contrast: more) {
        --primary-color: rgba(74, 95, 250, 1);
        --secondary-color: rgba(44, 70, 153, 1);
        --effct-bg: #395a7f;
    }

    @media only screen and (max-width: 768px) {
        --prgph-size: 1.2rem;
        --bnnr-size: 1.5rem;
        --small-size: 0.9rem;
        --subtle-size: 1rem;
    }
}

html {
    margin: 0 auto;
    font-family:
        JetBrains Semi,
        "sans-serif",
        Roboto,
        "sans-serif",
        Helvetica,
        "sans-serif";
    scroll-behavior: smooth;
}

html,
* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-height: fit-content;
    overflow-x: hidden;
    background-color: var(--bg-clr);
    background-image: radial-gradient(var(--bg-dots) 2px, transparent 2px);
    background-size: 4rem 4rem;
    font-family:
        JetBrains Semi,
        "sans-serif",
        Roboto,
        "sans-serif",
        Helvetica,
        "sans-serif";
}

main {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: var(--text-color);
}

h2 {
    font-family:
        JetBrains Bold,
        "sans-serif",
        Roboto,
        "sans-serif",
        Helvetica,
        "sans-serif";
    background-color: var(--banner-color);
    padding: 0 1rem;
    width: 100%;
    color: whitesmoke;
    font-size: var(--bnnr-size);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    margin: 0 0 1rem 0;
}

p {
    font-size: var(--prgph-size);
    width: 95%;
}

strong {
    font-family:
        JetBrains Bold,
        "sans-serif",
        Roboto,
        "sans-serif",
        Helvetica,
        "sans-serif";
}

small {
    font-size: var(--small-size);
}

button {
    font-family:
        JetBrains Semi,
        "sans-serif",
        Roboto,
        "sans-serif",
        Helvetica,
        "sans-serif";
}

.footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
    height: fit-content;
    width: 100vw;
    padding: 2rem 1rem;
    box-sizing: border-box;
    border-top: 0.2rem solid var(--border-color);
    background-color: var(--bg-clr);
}

.footer p {
    font-size: unset;
}

.ftr-copyright,
.ftr-disclaimer {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.ftr-disclaimer summary {
    cursor: pointer;
    font-size: 1rem;
}

.ftr-lnks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

.ftr-lnks svg {
    fill: var(--svg-fill);
    object-fit: contain;
    height: 4rem;
    width: 100%;
    transition: 0.3s ease;
}

.ftr-lnks svg:hover {
    transform: scale(1.1);
}

.ftr-lnks img {
    object-fit: contain;
    height: 4rem;
    width: 100%;
    transition: 0.3s ease;
}

.ftr-lnks img:hover {
    transform: scale(1.1);
}

.hvr-jmp-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 4rem;
    bottom: 1rem;
    right: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;
    padding: 0.25rem;
    z-index: 5;
    overflow: visible;
    border-radius: 6px;
    backdrop-filter: blur(8px);
    background-color: var(--effct-bg);
    border: 0.1rem dashed var(--border-color);
    transition: bottom 0.3s ease;
}

.hvr-jmp-btn,
.hvr-jmp-btn-tggl,
.hvr-jmp-btn-top,
.hvr-jmp-btn-btm {
    border: none;
    padding: 0.25rem;
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease;
}

.hvr-jmp-btn-tggl {
    z-index: 6;
}

.hvr-jmp-btn-top,
.hvr-jmp-btn-btm {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
}

.hvr-jmp-btn-top {
    margin-bottom: -0.75rem;
}

.hvr-jmp-btn-btm {
    margin-top: -0.75rem;
}

.hvr-jmp-btn-tggl svg {
    height: 3rem;
    width: 3rem;
    padding: 0;
    margin: 0;
    fill: var(--svg-fill);
    pointer-events: none;
}

.hvr-jmp-btn-top svg,
.hvr-jmp-btn-btm svg {
    height: 3.5rem;
    width: 3.5rem;
    padding: 0;
    margin: 0;
    stroke: var(--secondary-color);
    fill: var(--primary-color);
    pointer-events: none;
    transition:
        fill 0.3s ease,
        stroke 0.3s ease;
}

.hvr-jmp-btn svg {
    height: 3rem;
    width: 3rem;
    padding: 0;
    margin: 0;
    stroke: var(--svg-fill);
    pointer-events: none;
}

.hvr-jmp-btn:hover {
    background-color: var(--secondary-color);
}

.hvr-jmp-btn-tggl:hover {
    background-color: var(--border-color);
}

.hvr-jmp-btn-top:hover svg,
.hvr-jmp-btn-btm:hover svg {
    fill: var(--primary-color);
    stroke: var(--svg-fill);
}

.hvr-jmp-btn-tggl.active {
    background-color: var(--border-color);
}

.hvr-jmp-list {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 0;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    transition:
        height 0.4s ease,
        margin 0.4s ease;
    background-color: transparent;
    border-radius: 6px;
    z-index: 5;
}

.hvr-jmp-list hr {
    height: 0.1rem;
    width: 90%;
    padding: 0;
    margin: 0.12rem 0 0.12rem 0;
    border: none;
    background-color: var(--border-color);
}

.cp-btn {
    position: absolute;
    top: calc(var(--bnnr-size) - 1rem);
    right: calc(var(--bnnr-size) - 1rem);
    height: fit-content;
    width: fit-content;
    padding: 0.25rem;
    border: 0.1rem solid transparent;
    background: transparent;
    object-fit: contain;
    cursor: pointer;
    transition: border 0.3s ease;
    border-radius: 6px;
}

.cp-btn svg {
    height: calc(var(--bnnr-size) - 0.5rem); /* To account for padding */
    width: calc(var(--bnnr-size) - 0.5rem); /* ^ */
    stroke: var(--border-color);
    transition: stroke 1s ease;
}

.cp-btn:hover svg {
    stroke: whitesmoke;
}

.cp-btn:hover {
    border: 0.1rem solid whitesmoke;
}

.cp-btn.active {
    border: 0.1rem solid var(--status-ok-bg);
}

.cp-btn.active svg {
    stroke: var(--status-ok-bg);
}

.hero-intro-overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.hero-intro-overlay > img {
    position: absolute;
    display: block;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-intro-text-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    gap: 2rem;
    animation: intro-animation 0.3s linear forwards;
}

.hero-intro-text {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    border: 0.2rem solid var(--border-color);
}

.hero-intro-text h1 {
    color: white;
}

.jmp-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;
}

.jmp-btn {
    border: none;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    font-size: 1.75rem;
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    transform: scale(0);
    animation: emphasize 0.2s ease-out forwards;
}

.jmp-btn:hover {
    background-color: var(--secondary-color);
}

.scrl-hlp-btn {
    position: absolute;
    bottom: 1rem;
    left: 50vw;
    transform: translate(-50%, 50%);
    border: none;
    background: transparent;
    cursor: pointer;
}

.scrl-hlp-btn svg {
    height: 4rem;
    width: 4rem;
    stroke: var(--svg-fill);
}

.content,
.member-content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 25vh;
    max-height: fit-content;
    width: 95%;
    padding: 1rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    align-items: center;
    backdrop-filter: blur(4px);
    border: 0.2rem solid var(--border-color);
    box-shadow: var(--box-shadow);
    border-radius: 6px;
}

.content::before,
.content::after,
.member-content::before,
.member-content::after {
    content: "";
    display: block;
    height: 0; /* start collapsed */
    pointer-events: none; /* don’t block clicks */
    overflow: hidden;
}

.content::before,
.member-content::before {
    height: 0;
    margin-top: 4rem;
    transition: margin-top 300ms ease;
    overflow: hidden;
}

.content.active::before,
.member-content.active::before {
    margin-top: 0; /* collapse once animations bring children back */
}

.content :nth-child(1) {
    opacity: 0.4;
    transform: translateY(6rem);
    transition:
        opacity,
        transform 300ms ease;
}

.content :nth-child(2) {
    opacity: 0.4;
    transform: translateY(12rem);
    animation-delay: 300ms;
    transition:
        opacity,
        transform 300ms ease;
}

.content :nth-child(3) {
    opacity: 0.4;
    transform: translateY(18rem);
    animation-delay: 600ms;
    transition:
        opacity,
        transform 300ms ease;
}

.content :nth-child(4) {
    opacity: 0.4;
    transform: translateY(24rem);
    animation-delay: 900ms;
    transition:
        opacity,
        transform 300ms ease;
}

.content.active :nth-child(1),
.content.active :nth-child(2),
.content.active :nth-child(3),
.content.active :nth-child(4) {
    opacity: 1;
    transform: translateY(0);
}

.separator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    width: 100%;
    min-height: 15vh;
    max-height: fit-content;
    padding: 0;
    margin: 0;
}

.separator hr {
    width: 75%;
    height: 0.25rem;
    background-color: var(--banner-color);
    border: none;
}

.separator-svg {
    height: 8rem;
    width: 8rem;
    object-fit: contain;
    padding: 0;
    margin: 0;
    fill: var(--svg-fill);
}

.img-lnk {
    position: relative;
    text-decoration: none;
    padding: 0.5rem;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease;
    z-index: 4;
}

.img-lnk:hover {
    transform: scale(1.1);
}

.lnk-img {
    height: 5rem;
    width: 5rem;
    object-fit: contain;
    display: block;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
}

.contact-container p {
    font-size: var(--subtle-size);
    width: fit-content;
}

.member-content :nth-child(1) {
    opacity: 0.4;
    transform: translateY(6rem);
    transition:
        opacity,
        transform 300ms ease;
}

.member-content.active :nth-child(1) {
    opacity: 1;
    transform: translateY(0);
}

.member-container {
    position: relative;
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2rem;
}

.team-member-card {
    display: grid;
    place-items: center;
    padding: 0.5rem;
    border-radius: 12px;
    background: linear-gradient(
        var(--mouse-angle),
        var(--primary-color),
        var(--secondary-color)
    );
    color: white;
    max-width: 20rem;
    height: 24rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    margin: 1rem;
    transform-origin: center center;
    transform-style: preserve-3d;
    will-change: transform, background, opacity;
    transition:
        transform 0.3s ease,
        background 0.3s linear,
        opacity 0.5s ease;
    transition-delay: var(--trans-delay);
}

.member-content .member-container .team-member-card {
    opacity: 0;
    transform: perspective(600px) translateY(100%) rotateX(var(--tilt-x))
        rotateY(var(--tilt-y));
}

.member-content.active .member-container .team-member-card {
    opacity: 1;
    transform: perspective(600px) translateY(0) rotateX(var(--tilt-x))
        rotateY(var(--tilt-y));
}

.team-member-portrait {
    width: 10rem;
    height: 10rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.team-member-name {
    font-size: var(--prgph-size);
    margin: 0.3rem 0;
}

.team-member-description {
    font-size: var(--subtle-size);
    color: whitesmoke;
    text-align: left;
}

.url-settings {
    display: grid;
    place-items: center;
    max-height: fit-content;
    width: 95%;
    padding: 1.5rem 1rem;
    margin-top: 5vh;
    margin-bottom: 1vh;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(4px);
    border-radius: 6px;
    opacity: 0.3;
}

.clr-btn {
    padding: 0.5rem 1rem;
    font-size: var(--subtle-size);
    border: none;
    background-color: var(--bg-dots);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition:
        background-color 0.3s ease,
        opacity 0.3s ease;
}

.url-settings .clr-btn {
    cursor: not-allowed;
}

.url-settings.active {
    opacity: 1;
}

.url-settings.active .clr-btn {
    cursor: pointer;
}

.url-settings.active .clr-btn:hover {
    background-color: var(--secondary-color);
}

@keyframes intro-animation {
    from {
        opacity: 0;
        backdrop-filter: none;
    }
    to {
        opacity: 1;
        backdrop-filter: blur(12px);
    }
}

@keyframes emphasize {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 768px) {
    h2 {
        padding: 0.5rem;
    }
    .hero-intro-text {
        max-width: 80vw;
        font-size: 1rem;
        text-align: center;
        gap: 2rem;
    }
    .hero-intro-text-wrapper {
        gap: 4rem;
    }
    .jmp-list {
        position: relative;
        display: grid;

        height: fit-content;
        width: 100%;

        place-items: center;
        gap: 2rem;
    }
    .jmp-btn {
        position: relative;
        width: 70vw;
    }
    .scrl-hlp-btn svg {
        height: 3rem;
        width: 3rem;
    }
    .cp-btn {
        top: calc(var(--bnnr-size) - 0.5rem);
        right: calc(var(--bnnr-size) - 0.5rem);
    }
    .cp-btn svg {
        height: calc(var(--bnnr-size) + 0.5rem);
        width: calc(var(--bnnr-size) + 0.5rem);
    }
    .content,
    .member-content {
        padding: 0.5rem;
    }
    .separator {
        min-height: 10vh;
    }
    .member-content .member-container .team-member-card {
        opacity: 0;
    }
    .member-content.active .member-container .team-member-card {
        opacity: 1;
    }
    .member-container {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0.5rem 1rem;
        margin: 0;
        gap: 1.5rem;
    }
    .team-member-card {
        min-width: 100%;
        margin: 0;
    }
    .team-member-name {
        font-size: var(--bnnr-size);
    }
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
    }
}

@media only screen and (min-width: 1920px) {
    .hvr-jmp-container {
        transform: scale(1.25);
        transform-origin: bottom right;
    }
}

@media only screen and (min-width: 2560px) {
    .hvr-jmp-container {
        transform: scale(1.5);
        transform-origin: bottom right;
    }
}

@media only screen and (min-width: 3840px) {
    .hvr-jmp-container {
        transform: scale(2);
        transform-origin: bottom right;
    }
}

@media (prefers-reduced-motion: reduce) {
    .content,
    .member-content,
    .content :nth-child(1),
    .content :nth-child(2),
    .content :nth-child(3),
    .content :nth-child(4) {
        opacity: 1;
        transform: translateY(0);
        animation-delay: 0ms;
    }
    .content::before,
    .member-content::before {
        margin: 0;
    }
    * {
        transition: none !important;
    }
    *:not(svg):not(img):not(svg *) {
        transform: none !important;
    }
    .ftr-lnks:hover svg,
    .ftr-lnks:hover img {
        transform: scale(1);
    }
    .team-member-card {
        opacity: 1;
        visibility: visible;
    }
    .hero-intro-text-wrapper {
        animation: none;
        opacity: 1;
        backdrop-filter: blur(12px);
    }
    .jmp-btn {
        animation: none;
        animation-delay: 0s !important;
        transform: scale(1);
    }
}
