main {
    justify-content: center;
}

.member-container {
    position: relative;
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2rem;
}

.team-member-card {
    padding: 1rem;
    border-radius: 12px;
    background: var(--primary-color);
    color: white;
    max-width: 15rem;
    height: 15rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    margin: 1rem;
}

.team-member-portrait {
    width: 6rem;
    height: 6rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.team-member-name {
    font-size: 1.2rem;
    margin: 0.3rem 0;
}

.team-member-description {
    font-size: 0.95rem;
    color: whitesmoke;
}

.add-member-tooltip {
    margin-top: 8rem;
    animation: fade-fly-in 0.5s ease;
}